---
title: Welcome to UTEENI APP
---

<div class="main">
  <div class="container">
    <div id="scroller" class="scroller">
      <section id='cover' class="cover">
        <%= partial 'cover' %>
      </section>

      <section class="features">
        <%= partial 'features' %>
      </section>

      <section class="showcase">
        <%= partial 'showcase' %>
      </section>

      <section id="sign_up" class='signup'>
        <%= partial 'sign_up' %>
      </section>

      <section class="team">
        <%= partial 'team' %>
      </section>

      <section class="contact">
        <%= partial 'contact' %>
      </section>
    </div>
  </div>
</div><!-- main -->
