---
title: Welcome to UTEENI APP
---

<div class="main">
  <div class="container">
    <div id="scroller" class="scroller">
      <section id="cover">
        <%= partial 'cover' %>
      </section>

      <section id="features">
        <%= partial 'features' %>
      </section>

      <section id="app-showcase" style="position: relative;">
        <%= partial 'showcase' %>
      </section>

      <section id="login">
        <%= partial 'sign_up' %>
      </section>

      <section id="team">
        <%= partial 'team' %>
      </section>

      <section id="contact">
        <%= partial 'contact' %>
      </section>
    </div>
  </div>
</div><!-- main -->
